/* Centre all the headers */
h1,h2,h3,h4,p{
	text-align: center;
}
/* Padding to space out items and avoid collision with nav bar */
.container-fluid{
	padding-top: 60px;
}
/* Grey out disabled items */
button.disabled ,input.disabled{
    border-color: #BABABA;
}
button.disabled{
    background-color: #CFCFCF;
}
/* Float the button and text display */
.display, .add, .sub{
	float: right;
}
hr{
	margin-top: 2px;
	margin-bottom: 2px;
}
/* align the toggle year view button */
.toggleYear{
	text-align: center; 
}

input.form-fixer, span.form-fixer {
	padding: 2px;
  font-size: 16px;
}
/* Containing div */
.score,.score-readonly{
	width:150px;      
	height: 35px;
	margin-bottom: 5px;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden; /* Clear floats */
}
.score{
	width:150px;      
}
.score-readonly{
	width:90px;      
}

/* scores table */
.scorebox
{
	text-align: center;
}

.scorebox h1
{
	font-size: 28pt;
	margin-top: 10px;
	margin-bottom: 0px;

}
.scorebox h2
{
	font-size: 20pt;
	margin-top: 5px;
	margin-bottom: 0px;
}
.scorebox h3
{
	font-size: 16pt;
	margin-top: 5px;
	margin-bottom: 10px;
}
.table{
	margin-bottom: 0px;
}
.table h2
{
	text-align: center;
	margin-top: 0px;
	margin-bottom: 0px;	
}
.table h3
{
	font-size: 14pt;
	text-align: center;
	margin-top: 0px;
	margin-bottom: 0px;
}
.table h4
{
	font-size: 10pt;
	text-align: center;
	margin-top: 2px;
	margin-bottom: 0px;
}

.table .rowDescription
{
	vertical-align: middle;
	max-width: 75px;
	padding: 5px;
}

.table .rowScore
{
	vertical-align: middle;
	width: 50%;
	padding: 5px;
}

.dealer
{
	text-decoration: underline;
}

/* Label for score item */
.label{
	color: #000000;
	font-size: 10pt; 
	width: 30px;
	height: 35px;
	line-height: 35px;
}
/* Score display */
.display {
	padding: 5px;
	height: 35px;
	width: 30px;
	border-style: solid;
	border-color: #6cbb6b;
	border-width: 1px;
	font-size: 12pt;      
}
/* Add and subtract buttons */
.add, .sub{     
    border-width: 1px 1px 1px 0px;
    border-style: solid;
    height: 35px;
    width: 30px;
	font-size: 14pt;
	padding-top: 3px;
}
.add{    
	color: #FFFFFF;     
	background-color: #6cbb6b;
	border-color: #6cbb6b;
}
.sub{
	color: #FFFFFF;     
	background-color: #DB4D4D;
	border-color: #DB4D4D;
}
.score-readonly > .add {
	display: none;
}
.score-readonly > .sub {
	display: none;
}
.highlighted{
	background: yellow;
}

.ytVideo{
	display: none;
}
/* win and lose colours */
.win{
	color: #006600;
}
.lose{
	color: #E60000;
}
.draw{
	color: #A3A375;
}

/* Graphs */
.c3-region.regionSansom {
  fill: blue;
}
.c3-region.regionCooper {
  fill: orange;
}

.loading{
	position: fixed;
	width:100%;
	height:100%;
	back-color:#FFFFFF;
}

/* Loading circle and success tick */
.loader,
.success,
.failed{
  position: absolute;
  color: rgba(0, 0, 0, 0.2);
  font-size: 25px;
  width: 25px;
  height: 25px;
  top: 55px;
  right: 5px;
}

.large-loader{
  color: rgba(0, 0, 0, 0.2);
  font-size: 50px;
  width: 50px;
  height: 50px;
  position:absolute;
  top:50%;
  left:50%;
  margin:-25px 0 0 -25px;

}

.topbox {
    position: relative;
    display: block;
}

.loader,.large-loader {
  border-top: 5px solid rgba(0, 0, 0, 0.2);
  border-right: 5px solid rgba(0, 0, 0, 0.2);
  border-bottom: 5px solid rgba(0, 0, 0, 0.2);
  border-left: 5px solid #ffffff;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
.loader,
.loader:after,
.large-loader,
.large-loader :after  {
  border-radius: 50%;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.timeline {
    position: relative;
    padding: 21px 0px 10px;
    margin-top: 4px;
    margin-bottom: 30px;
	width:325px; margin:0 auto;
}

.timeline .line {
    position: absolute;
    width: 4px;
    display: block;
    background: currentColor;
    top: 0px;
    bottom: 0px;
    margin-left: 30px;
}

.timeline .separator {
    border-top: 1px solid currentColor;
    padding: 5px;
    padding-left: 40px;
    font-style: italic;
    font-size: .9em;
    margin-left: 30px;
}

.timeline .line::before { top: -4px; }
.timeline .line::after { bottom: -4px; }
.timeline .line::before,
.timeline .line::after {
    content: '';
    position: absolute;
    left: -4px;
    width: 12px;
    height: 12px;
    display: block;
    border-radius: 50%;
    background: currentColor;
}

.timeline .panel {
    position: relative;
    margin: 10px 0px 21px 70px;
    clear: both;
}

.timeline .panel::before {
    position: absolute;
    display: block;
    top: 8px;
    left: -24px;
    content: '';
    width: 0px;
    height: 0px;
    border: inherit;
    border-width: 12px;
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
}

.timeline .panel .panel-heading.icon * { font-size: 20px; vertical-align: middle; line-height: 40px; }
.timeline .panel .panel-heading.icon {
    position: absolute;
    left: -59px;
    display: block;
    width: 40px;
    height: 40px;
    padding: 0px;
    border-radius: 50%;
    text-align: center;
    float: left;
}

.timeline .panel-outline {
    border-color: transparent;
    background: transparent;
    box-shadow: none;
}

.timeline .panel-outline .panel-body {
    padding: 10px 0px;
}

.timeline .panel-outline .panel-heading:not(.icon),
.timeline .panel-outline .panel-footer {
    display: none;
}

.infoTable
{
	width: 100%;
}

.infoTable td{
	width: 50%;
}

.infoType {
	text-align: right;
}

#kilroyShare
{
    position: fixed;
    height:330px;
    width:330px;
    margin:0 auto;
    bottom: 0;
    display:none;
    left:50%;
    margin:-165px 0 0 -165px;
    background-image: url(../img/share.png);
    z-index: 5;
}

#kilroyShaft
{
    position: fixed;
    height:330px;
    width:330px;
    margin:0 auto;
    bottom: 0;
    display:none;
    left:50%;
    margin:-165px 0 0 -165px;
    background-image: url(../img/shaft.png);
    z-index: 5;
}

#kamara
{
    position: fixed;
    height:330px;
    width:330px;
    margin:0 auto;
    bottom: 0;
    display:none;
    left:50%;
    margin:-165px 0 0 -165px;
    background-image: url(../img/kamara.png);
    z-index: 5;
}