/* Centre all the headers */
h1,h2,h3,h4,p{
	text-align: center;
}
/* Padding to space out items and avoid collision with nav bar */
.container-fluid{
	padding-top: 60px;
}
/* Grey out disabled items */
button.disabled ,input.disabled{
    border-color: #BABABA;
}
button.disabled{
    background-color: #CFCFCF;
}
/* Float the button and text display */
.display, .add, .sub{
	float: right;
}

/* align the toggle year view button */
.toggleYear{
	text-align: center; 
}

input.form-fixer, span.form-fixer {
	padding: 2px;
   font-size: 16px;
}
/* Containing div */
.score,.score-readonly{
	width:150px;      
	height: 35px;
	margin-bottom: 5px;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden; /* Clear floats */
}
.score{
	width:150px;      
}
.score-readonly{
	width:90px;      
}

/* scores table */
.scorebox
{
	text-align: center;
}

.scorebox h1
{
	font-size: 28pt;
	margin-top: 10px;
	margin-bottom: 0px;

}
.scorebox h2
{
	font-size: 20pt;
	margin-top: 5px;
	margin-bottom: 0px;
}
.scorebox h3
{
	font-size: 16pt;
	margin-top: 5px;
	margin-bottom: 10px;
}

.table h2
{
	text-align: center;
	margin-top: 0px;
	margin-bottom: 0px;	
}
.table h3
{
	font-size: 14pt;
	text-align: center;
	margin-top: 0px;
	margin-bottom: 0px;
}
.table h4
{
	font-size: 10pt;
	text-align: center;
	margin-top: 2px;
	margin-bottom: 0px;
}

.table .rowDescription
{
	vertical-align: middle;
	max-width: 75px;
	padding: 5px;
}

.table .rowScore
{
	vertical-align: middle;
	width: 50%;
	padding: 5px;
}

/* Label for score item */
.label{
	color: #000000;
	font-size: 10pt; 
	width: 30px;
	height: 35px;
	line-height: 35px;
}
/* Score display */
.display {
	padding: 5px;
	height: 35px;
	width: 30px;
	border-style: solid;
	border-color: #6cbb6b;
	border-width: 1px;
	font-size: 12pt;      
}
/* Add and subtract buttons */
.add, .sub{     
    border-width: 1px 1px 1px 0px;
    border-style: solid;
    height: 35px;
    width: 30px;
	font-size: 14pt;
	padding-top: 3px;
}
.add{    
	color: #FFFFFF;     
	background-color: #6cbb6b;
	border-color: #6cbb6b;
}
.sub{
	color: #FFFFFF;     
	background-color: #DB4D4D;
	border-color: #DB4D4D;
}
.score-readonly > .add {
	display: none;
}
.score-readonly > .sub {
	display: none;
}
/* win and lose colours */
.win{
	color: #006600;
}
.lose{
	color: #E60000;
}
.draw{
	color: #A3A375;
}

.loading{
	position: fixed;
	width:100%;
	height:100%;
	back-color:#FFFFFF;
}

/* Loading circle and success tick */
.loader,
.success,
.failed{
  position: absolute;
  color: rgba(0, 0, 0, 0.2);
  font-size: 25px;
  width: 25px;
  height: 25px;
  top: 55px;
  right: 5px;
}

.large-loader{
  color: rgba(0, 0, 0, 0.2);
  font-size: 50px;
  width: 50px;
  height: 50px;
  position:absolute;
  top:50%;
  left:50%;
  margin:-25px 0 0 -25px;

}

.topbox {
    position: relative;
    display: block;
}

.loader,.large-loader {
  border-top: 5px solid rgba(0, 0, 0, 0.2);
  border-right: 5px solid rgba(0, 0, 0, 0.2);
  border-bottom: 5px solid rgba(0, 0, 0, 0.2);
  border-left: 5px solid #ffffff;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
.loader,
.loader:after,
.large-loader,
.large-loader :after  {
  border-radius: 50%;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


