/* Centre all the headers */
h2,h3,p{
	text-align: center;
}
/* Padding to space out items and avoid collision with nav bar */
.container-fluid{
	padding-top: 60px;
}
/* Grey out disabled items */
button.disabled ,input.disabled{
    border-color: #BABABA;
}
button.disabled{
    background-color: #CFCFCF;
}
/******************************************************/
/* Score area, label, display text box and add button */
/******************************************************/
/* Float the button and text display */
.display, .add, .sub{
	float: right;
}
/* Containing div */
.score{
	width:150px;      
	height: 35px;
	margin-bottom: 5px;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden; /* Clear floats */
}
/* Label for score item */
.label{
	color: #000000;
	font-size: 10pt; 
	width: 30px;
	height: 35px;
	line-height: 35px;
}
/* Score display */
.display {
	padding: 5px;
	height: 35px;
	width: 30px;
	border-style: solid;
	border-color: #6cbb6b;
	border-width: 1px;
	font-size: 12pt;      
}
/* Add and subtract buttons */
.add, .sub{     
    border-width: 1px 1px 1px 0px;
    border-style: solid;
    height: 35px;
    width: 30px;
	font-size: 18pt;
}
.add{    
	color: #FFFFFF;     
	background-color: #6cbb6b;
	border-color: #6cbb6b;
}
.sub{
	color: #FFFFFF;     
	background-color: #DB4D4D;
	border-color: #DB4D4D;
}

