/* Trophies */
.plaque
{
	max-height: 250px;
	min-height: 250px;
    margin-top: 25px;
	border-radius: 25px;
}
.plaque h3
{
	margin-top: 0px;
	margin-left: 5px;
	margin-right: 5px;
	font-size: 20pt;
}
.plaque p
{
	margin-left: 5px;
	margin-right: 5px;
	font-size: 14pt;
}
.plaque .trophy 
{
	text-align: center;
}
.plaque i
{
	font-size: 70pt;  
	margin-top:10px;
	margin-bottom:10px;
}
/* Gold trophy */
.gold
{
	background-image: url("../img/wood1.jpg");
}
.gold i, .gold h3, .gold p 
{
	color: #DAA520;
 	background: -webkit-linear-gradient(transparent, transparent), url(../img/gold1.jpg) repeat;   
	-webkit-text-fill-color: transparent;
 	background: -o-linear-gradient(transparent, transparent);
 	-webkit-background-clip: text;                       
}
.gold h3, .gold p , .gold .circle
{
	font-family: 'Lobster', cursive;
}
.gold .circle
{
	font-size: 35px;
	color: brown;
 	background: url(../img/gold1.jpg) repeat; 	
}

/* Silver trophy */
.silver
{
	background-image: url("../img/vellum1.jpg");
}
.silver i, .silver h3, .silver p 
{
	color: #000000;
 	background: -webkit-linear-gradient(transparent, transparent), url(../img/ink1.jpg) repeat;
   -webkit-text-fill-color: transparent;
 	background: -o-linear-gradient(transparent, transparent);
 	-webkit-background-clip: text;
}
.silver h3, .silver p , .silver .circle
{
	
}
.silver  .circle
{
	font-size: 35px;
	color: white;
 	background: url(../img/ink1.jpg) repeat; 	
}
/* Rubbish trophy */
.rubbish
{
	background-image: url("../img/paper1.jpg");
}
.rubbish i, .rubbish h3, .rubbish p 
{
	color: #ff0000;
 	background: -webkit-linear-gradient(transparent, transparent), url(../img/redfelttip.jpg) repeat;
	-webkit-text-fill-color: transparent;
 	background: -o-linear-gradient(transparent, transparent);
 	-webkit-background-clip: text;
}
.rubbish h3, .rubbish p , .rubbish .circle
{
	font-family: 'Patrick Hand', cursive;
}
.rubbish .circle
{
	font-size: 35px;
	color: white;
 	background: url(../img/redfelttip.jpg) repeat; 	
}
/* Max Power trophy */
.max
{
	background-image: url("../img/carbonfiber1.jpg");
}
.max i, .max h3, .max p 
{
	color: #c0c0c0;
 	background: -webkit-linear-gradient(transparent, transparent), url(../img/metal1.jpg) repeat;
	-webkit-text-fill-color: transparent;
 	background: -o-linear-gradient(transparent, transparent);
 	-webkit-background-clip: text;
}
.max h3, .max p 
{
	font-family: 'Audiowide', cursive;
}
/* Army trophy */
.army
{
	background-image: url("../img/wood2.jpg");
}
.army i, .army h3, .army p 
{
	color: #f1f1f1;
}
.army h3, .army p 
{
	font-family: 'Black Ops One', cursive;
}
/* Chalk board trophy */
.chalk
{
	background-image: url("../img/chalkboard1.jpg");
}
.chalk i, .chalk h3, .chalk p 
{
	color: #d5d5d5;
}
.chalk h3, .chalk p 
{
	font-family: 'Patrick Hand', cursive;
}

/* wall board trophy */
.wall
{
	background-image: url("../img/brick1.jpg");
}
.wall i, .wall h3, .wall p 
{
	color: #c0c0c0;
 	background: -webkit-linear-gradient(transparent, transparent), url(../img/graffiti1.jpg) repeat;
	-webkit-text-fill-color: transparent;
 	background: -o-linear-gradient(transparent, transparent);
 	-webkit-background-clip: text;
}
.wall h3, .wall p 
{
	font-family: 'Patrick Hand', cursive;
}

.circle {
    color: #000000;
	position: absolute;
    text-align:center;
	margin-top: 5px;
	margin-left: 5px;
    width: 50px;
    height: 50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
}



